<div class="chat-header">
  <div class="left-header">
    <div class="chat-name">
      hogefuga
    </div>
  </div>
  <div class="right-header">
    <div class="chat-delete">
      <a href="#">チャットを終了する</a>
    </div>
  </div>
</div>

<div class="chat-show">
  <div class="chat-show-all">
    <div class="chat-show-top">
      <div class="chat-show-name">
        Tom
      </div>
      <div class="chat-show-time">
        2021/08/12(Thur) 12:00:00
      </div>
    </div>
    <div class="chat-show-bottom">
      <div class="chat-show-content">
        こんにちは
      </div>
    </div>
  </div>
    <div class="chat-show-all">
    <div class="chat-show-top">
      <div class="chat-show-name">
        Sam
      </div>
      <div class="chat-show-time">
        2021/08/12(Thur) 12:05:00
      </div>
    </div>
    <div class="chat-show-bottom">
      <div class="chat-show-content">
        こんにちは
      </div>
    </div>
  </div>
</div>

<div class="chat-input">
  <div class="form-input">
    <input class="form-message" placeholder= "type a message">
    <label class="form-image">
      <span class="image-file">画像</span>
      <input type="file" class="hidden">
    </label>
  </div>
  <input class="form-submit" type="submit" value="送信">
</div>