<div class="chat-header">
  <div class="left-header">
    <div class="chat-name">
      hogefuga
    </div>
  </div>
  <div class="right-header">
    <div class="chat-delete">
      <a href="#">チャットを終了する</a>
    </div>
  </div>
</div>

<div class="chat-show">
  <div class="chat-show-all">
    <div class="chat-show-top">
      <div class="chat-show-name">
        Tom
      </div>
      <div class="chat-show-time">
        2021/08/12(Thur) 12:00:00
      </div>
    </div>
    <div class="chat-show-bottom">
      <div class="chat-show-content">
        こんにちは
      </div>
    </div>
  </div>
    <div class="chat-show-all">
    <div class="chat-show-top">
      <div class="chat-show-name">
        Sam
      </div>
      <div class="chat-show-time">
        2021/08/12(Thur) 12:05:00
      </div>
    </div>
    <div class="chat-show-bottom">
      <div class="chat-show-content">
        こんにちは
      </div>
    </div>
  </div>
</div>

<%= form_with model: [@room, @message], class: 'chat-input', local: true do |f| %>
  <div class="form-input">
    <%= f.text_field :content, class: 'form-message', placeholder: 'type a message' %>
    <label class="form-image">
      <span class="image-file">画像</span>
      <%= f.file_field :image, class: 'hidden' %>
    </label>
  </div>
  <%= f.submit '送信', class: 'form-submit' %>
<% end %>