  <div class="chat-show-all">
  <div class="chat-show-top">
    <div class="chat-show-name">
      <%= message.user.name %>
    </div>
    <div class="chat-show-time">
      <%= message.created_at %>
    </div>
  </div>
  <div class="chat-show-bottom">
    <div class="chat-show-content">
      <%= message.content %>
    </div>
  </div>
</div>